 .anchor {
     visibility: hidden;
     /* margin-left: -5mm; */
     margin-left: -30px;
 }

 h1:hover .anchor,
 h2:hover .anchor,
 h3:hover .anchor,
 h4:hover .anchor,
 h5:hover .anchor,
 h6:hover .anchor {
     visibility: visible;
 }
