 @page {
     size: A4;
 }

 @media print {
     body * {
         visibility: hidden;
     }

     section * {
         visibility: visible;
         /* margin: 1mm; */
     }
     hr {
         visibility: hidden;
     }
 }
