 section {
     page-break-inside: avoid;
     page-break-after: always;
     /* width: 210mm; */
     /* height: 297mm; */
     /* aspect-ratio: 1 / 1.414; */
     aspect-ratio: 210 / 297;
     box-sizing: border-box;
     padding: 5mm;
     /* border: 1px solid #000; */
     position: relative;
     /* overflow: hidden;  */
 }

 hr {
     /* border: none; */
     position: absolute;
     bottom: 0;
     width: calc(100% - 10mm);
 }
